<html>
	<head>
		<title>Synatra</title>
		<style>
			input, textarea, button{padding: 10px;}
		</style>
	</head>
	<body>
		<form action="" method="post">
			<input type="text" name="title" placeholder="Enter title ..." value="<%= @title %>">
			<hr>
			<textarea name="content" placeholder="Enter content...."><%= @content %></textarea>
			<hr>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>