header.header{
  padding-top: 13px;
  .container{
    height: 110px;
    overflow: hidden;
    position: relative;
  }
  #logo{
    float: left;
    width: 15.322%;
    img{
      width: 128px;
      height: auto;
    }
  }
  #contact-nav{
    float: right;
    width: 83.064%;
    overflow: hidden;
    text-align: right;
    .item{
      &:nth-child(1){
        width: 170px;
        margin-right: 40px;
      }
      &:nth-child(2){
        width: 302px;
      }
      display: inline-block;
      text-align: left;
      i{
        float: left;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin-right: 10px;
        border-radius: 100%;
        border: 2px solid $color-orange;
        color: $color-orange;
      }
      span{
        color: $color-orange;
        font-size: 14px;
        font-weight: bold;
      }
      p{
        font-size: 12px;
        line-height: 18px;
      }
    }
    .nav{
      position: absolute;
      bottom: 0;
      right: 20px;
      overflow: hidden;
      margin-top: 5px;
      ul li{
        float: left;
        padding: 20px;
        border-bottom: 4px solid transparent;
        a{
          @extend %font-family;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          color: #000;
        }
        &:hover{
          border-bottom: 4px solid $color-orange;
        }
      }
      ul li:last-child{
        padding-right: 0;
      }
    }
  } // end .contact-nav
}