<% provide(:title, "List") %>
<h1>Welcome to the <%= yield(:title) %> page</h1>
<p>
  This is the home page for the
  <a href="http://localhost:3000/categories/help">Ruby on Rails Tutorial</a>
  sample application.
</p>