// Font
$font-face: Bryant;
$font-family: Arial;

// Color
$color-origin-font: #282828;
$color-orange: #ffa800;
$color-blue: #0ec0ee;
$color-border: #e5e5e5;
$color-green: #30b549;
$color-banner: #fff;

// Background hover feature
$color-background-hover: rgba(14, 192, 238, .5);
